
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>home |</title>
    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond:300,300i,400,400i,500,500i,600,600i,700,700i|Cormorant+SC:300,400,500,600,700|Tangerine&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.7.1/gridlex.min.css">

    <!-- my stylesheet -->
    <link rel="stylesheet" href="/css/style.css">
  </head>

  <body>
    <!-- <p id='size-indicator'></p> -->
    <header>
      <a href="/index.html" class="mob-show center"><span id='logo'></span></a>
      <nav>
        <a href="/work.html"><span>work</span></a>
        <a href="/shop.html"><span>shop</span></a>
        <a href="/index.html" class="mob-hide"><span id='logo'></span></a>
        <!-- <h1 class='center'>L'or Design</h1> -->
        <a href="/about.html"><span>about</span></a>
        <a href="/contact.html"><span>contact</span></a>
      </nav>
    </header>

    {{content}}

    <footer>
      <div class="center footer">
        <h2>Designed & Developed by Stéphie L'or</h2>
        <p>all rights reserved | copyright © 2019</p>
      </div>
    </footer>

  </body>
</html>
